body{
    font-family: arial,san-seif;
    background-color: brown;
    margin: 0;
    padding: 0;
}
.container{
    width: 80;
    margin: auto;
    background-color: brown;
    padding: 20px;
    border-radius: 8px;
    box-shadow: none;
}
p{
    font-size: 16px;
    line-height: 1.6;
    color: aqua;
    margin: 0 20px;
}
